.container { display: inline-block; }

.typewriter h1 {
  font-size: 5em;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 4s step(26),
    cursor .4s step-end infinite alternate;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
  
@keyframes cursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
